@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body{
    background-color: rgb(42, 40, 38);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a,h1,p,h3,span{
    color: white;
}


/* Add a black background color to the top navigation */
.navbar {

    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.text-center{
    margin-left: 25%;
    margin-top: 10%;
}

.img-lv img{

    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    margin-left: -20%;
    margin-top: 30%;
    border:2px solid black;

}
.img-lv img:hover{

    opacity: .5;

}
.img-1083 img{

    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    margin-left: 20%;
    margin-top: 30%;
    border:2px solid black;



}
.img-1083 img:hover{

    opacity: .5;

}
    
.about {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-left: 5%;
    

}

.works{
    display: flex;
    justify-content: center;
}

.presentation{
    color: white;
    margin-left: 26%;
    margin-top: 10%;
    font-family: 'Ubuntu';


}

.presentation .texte-center .texte-1{

    font-size: 27px;

}
.presentation .texte-center .texte-2{

    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
   
}
.presentation .texte-center .texte-3{

    font-size: 40px;
    margin: 5px 0;
   
}
.presentation .texte-center .texte-3 span{

    font-weight: 500;
    color: rgb(83, 140, 51); 

}

.img-send{
    margin-left: 29%;
    margin-top: 10%;
}

.contact{
    display:flex ;
    justify-content: space-evenly;
    margin-top: 4%;
    margin-bottom: 5%;

}

.renseignement{
    margin-bottom: 5%;
}
.index{
    display: flex;
    flex-direction: row;
    margin-top: -5%;
    margin-left: 8%;
   
}

.form-control{
    height: 20px;
    width: 500px;
}

.form-control2{
    height: 200px;
    width: 500px;
}